body{
    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}
#logo-kenzieflix{
    margin: 25px 765px;
}
.Titúlo{
    color: whitesmoke;
    margin: 50px 750px;
    font-size: 25px;
}
.container{
    display: flex;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    /* margin: 100px 400px ; */
    align-items: center;
    list-style: none;
    gap:20px 50px ;
}
.perfil{
    min-width: 50px;
    color: gray;
}
.text{
    /* margin: 10px 70px ; */
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.text:hover{
    color: white;
}
#ícone-freddie{
    /* margin: 100px 150px ; */
    height: 200px;
    width: 200px;
    border-radius: 5%;
    border: 2px solid transparent;
}
#ícone-freddie:hover{
    border: 2px solid white
}



#ícone-vitória{
    /* margin: 100px 100px ; */
    height: 200px;
    width: 200px;
    border-radius: 5%;
    border: 2px solid transparent;
}
#ícone-vitória:hover{
    border: 2px solid white
}


#ícone-yuri{
    /* margin: 100px 100px ; */
    height: 200px;
    width: 200px;
    border-radius: 5%;
    border: 2px solid transparent;
}
#ícone-yuri:hover{
    border: 2px solid white
}

#ícone-novo{
    /* margin: 100px 100px ; */
    height: 200px;
    width: 200px;
    border-radius: 5%;
    border: 2px solid transparent;
}
#ícone-novo:hover{
    border: 2px solid white
}

#botão{
    color: white;
    background-color: black;   
    border-color: white;
    margin: 50px 820px;
    border-radius: 15%;
    height: 35px ;
    width: 150px ;
    font-size: 15px;
}
#botão:hover{
    background-color: white;
    color: black;
}
 