body{
    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}
#logo-kenzieflix{
    margin: 25px 765px;
}
.Titúlo{
    color: whitesmoke;
    margin: 50px 750px;
    font-size: 25px;
}
.container{
    display: flex;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    margin: 100px 400px ;
}
.perfil-freddie{
    min-width: 50px;
    color: gray;
    
}
#ícone-freddie{
    /* margin: 100px 150px ; */
    height: 200px;
    width: 200px;
    list-style: none;
    border-radius: 5%;
}
#ícone-freddie:hover{
    border: 5px solid white
}
.text-freddie{
    margin: 10px 70px ;
    font-size: 18px;
}
.text-freddie:hover{
    color: white;
}
.perfil-vitória{
    min-width: 50px;
    color: gray;
}
#ícone-vitória{
    /* margin: 100px 100px ; */
    height: 200px;
    width: 200px;
    list-style: none;
    border-radius: 10%;
}
#ícone-vitória:hover{
    border: 5px solid white
}
.text-vitória{
    margin: 10px 70px ;
    font-size: 18px;
}
.text-vitória:hover{
    color: white;
}
.perfil-yuri{
    min-width: 50px;
    color: gray;
}
#ícone-yuri{
    /* margin: 100px 100px ; */
    height: 200px;
    width: 200px;
    list-style: none;
    border-radius: 5%;
}
#ícone-yuri:hover{
    border: 5px solid white
}
.text-yuri{
    margin: 10px 80px ;
    font-size: 18px;
}
.text-yuri:hover{
    color: white;
}
.card-novo{
    min-width: 50px;
    color: gray;
}
#ícone-novo{
    /* margin: 100px 100px ; */
    height: 200px;
    width: 200px;
    list-style: none;
    border-radius: 5%;
}
#ícone-novo:hover{
    border: 5px solid white
}
.textn-card{
    margin: 10px 40px ;
    font-size: 18px;
}
.textn-card:hover{
    color: white;
}
#botão{
    color: white;
    background-color: black;   
    border-color: white;
    margin: 100px 820px;
}
#botão:hover{
    background-color: white;
    color: black;
    }

